<h1>プロフィール編集ページ</h1>


<%= form_with model: @user , local: true, url: {controller: 'profiles', action: 'update' } do |f| %>

  <%= f.label :name, 'ニックネーム' %>
  <%= f.text_field :name %>


  <%= f.label :mail, 'メールアドレス' %>
  <%= f.text_field :mail %>
  
  <div class="form-group">
    <% if @user.image? %>                                                              
    <%= image_tag @user.image.url %>
    <% end %>

    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
  </div>

  
  <div class="form-group">
  <%= f.radio_button :gender, "0" %>
  <%= f.label :gender_man, "男性", {value: 0, style: "display: inline-block;"} %>
  <%= f.radio_button :gender, "1" %>
  <%= f.label :gender_woman, "女性", {value: 1, style: "display: inline-block;"} %>
  </div>
  
  <div class="form-group">
      <p>年齢（任意）</p>
  <%= f.radio_button :ages, "0" %>
  <%= f.label :young, "~20歳", {value: 0, style: "display: inline-block;"} %>
  <%= f.radio_button :ages, "1" %>
  <%= f.label :sedond_young, "21~30歳", {value: 1, style: "display: inline-block;"} %>
  <%= f.radio_button :ages, "2" %>
  <%= f.label :middle, "31~40歳", {value: 2, style: "display: inline-block;"} %>
  <%= f.radio_button :ages, "3" %>
  <%= f.label :sedond_young, "41~50歳", {value: 3, style: "display: inline-block;"} %>
  <%= f.radio_button :ages, "4" %>
  <%= f.label :sedond_young, "51~60歳", {value: 4, style: "display: inline-block;"} %>
  <%= f.radio_button :ages, "5" %>
  <%= f.label :sedond_young, "61歳以上", {value: 5, style: "display: inline-block;"} %>
  </div>
  
  <%= f.submit '変更' %>
<% end %>