<div class="d-flex justify-content-center">
    <p class="text-monospace h5"><i class="far fa-clock"></i> みんなのルーティン</p>
</div>
<%= form_with local: true, url: search_overviews_path, method: :get do |f| %>
  <div class="mt-3 mt-md-5 text-center">
    <div class="form-group d-flex flex-column flex-md-row justify-content-center">
    <div>
          <%= f.radio_button :search, "0" %>
          <%= f.label :time_0, "5分以内", {value: 0, style: "display: inline-block;"} %>
    </div>
    <div>
        <%= f.radio_button :search, "1", class: 'ml-md-2' %>
        <%= f.label :time_1, "10分以内", {value: 1, style: "display: inline-block;"} %>
    </div>
    <div>
    <%= f.radio_button :search, "2", class: 'ml-md-2' %>
     <%= f.label :time_2, "15分以内", {value: 1, style: "display: inline-block;"} %>
     </div>
    <div>
       <%= f.radio_button :search, "3", class: 'ml-md-2' %>
       <%= f.label :time_3, "それ以上", {value: 1, style: "display: inline-block;"} %>
    </div>
</div>
    <%= f.submit '検索', class: 'ml-4 btn btn-info mt-4 mt-md-1' %>
    
  </div>
<% end %>
<div class="row">
<% @routines.each do |routine| %>

<% true_user = routine.user %>

<% unless current_user == true_user %>
     <div class="col-md-6 col-lg-4 d-flex flex-column justifty-content-around mt-5 mb-5">
        <div class="d-flex flex-column align-items-center justify-content-between h-100">
        <% if routine.image? %>
        <div class="mb-1" style="width: 250px;"><%= image_tag routine.image.url, class: "border border-dark rounded" %><p class="mb-1 text-center text-wrap pt-2"><%= routine.title %></p></div>
        <% end %>
        
          <div class="d-flex justify-content-between align-items-center">
            <div>
                <% if true_user.image? %>
               <%= image_tag true_user.image.thumb.url, class: "border border-dark user_icon" %>
               <% end %>
            </div>
            <div class="d-flex flex-column align-items-center px-2">
                <div class="d-flex justify-content-around ml-1 w-100">
                    <p class="mb-0"><%= routine.time %>分</p>
                    <% if routine.status == 0 %>
                      <p class="mb-0">公開</p>
                    <% else %>
                      <p class="mb-0">非公開</p>
                    <% end %>
                </div>
                <div><%= link_to true_user.name, user_path(true_user), class: 'ml-1' %></div>
            </div>
             <div class="p-2">
               <%= link_to "詳細", routine_path(routine) , class: 'btn btn-primary'%>
             </div>
          </div>
        </div>
    </div>
        
<% end %>
        
<% end %>
</div>

<%= paginate @routines %>
