<div class="text-center">
  <h1>新規登録</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @user, local: true) do |f| %>
      
      <div class="form-group">
        <div><i class="fas fa-user mr-2"></i><%= f.label :name, 'ニックネーム' %></div>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <div class="mb-2"><i class="fas fa-male mr-2"></i>性別</div>
        <div class="d-flex justify-content-center">
          <div>
       <%= f.radio_button :gender, "0" %>
       <%= f.label :gender_man, "男性", {value: 0, style: "display: inline-block;"} %>
       </div>
       <div>
       <%= f.radio_button :gender, "1" , class: 'ml-5'%>
       <%= f.label :gender_woman, "女性", {value: 1, style: "display: inline-block;"} %>
       </div>
       </div>
      </div>

      <div class="form-group">
        <div><i class="far fa-envelope mr-2"></i><%= f.label :mail, 'メールアドレス' %></div>
        <%= f.email_field :mail, class: 'form-control' %>
      </div>

      <div class="form-group">
        <div><i class="fas fa-key mr-2"></i><%= f.label :password, 'パスワード' %></div>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワード確認' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <%= f.submit '会員登録', class: 'btn btn-primary btn-block' %>
    <% end %>
    
       <p class="text-center mt-3">既に会員の方は <%= link_to 'こちら', login_path %></p>
  </div>
</div>