<p class="text-center"><%= @user.name %> が公開しているルーティン一覧</p>

    <% @routines.each do |routine| %>
    
            <div class="d-flex flex-column align-items-center mt-5">
        <% if routine.image? %>
        <div class="mb-1" style="width: 250px;"><%= image_tag routine.image.url, class: "border border-dark" %><p class="mb-1 text-center text-wrap pt-2"><%= routine.title %></p></div>
        <% end %>
        
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-start">
                <div class="row ml-1">
                    <p class="mb-0"><%= routine.time %>分</p>
                    <p class="mb-0 ml-2">公開</p>
                    <p class="mb-0 ml-2"> <%= routine.created_at.strftime('%Y/%m/%d') %></p>
                </div>
                <% true_user = routine.user %>
                <p class="mb-0 ml-1">作成者:<%= link_to true_user.name, user_path(true_user), class: 'ml-1' %></p>
            </div>
           <%= link_to "詳細", routine_path(routine) , class: 'btn btn-primary ml-5 pt-2'%>
           </div>
        </div>
        
        <% end %>
  
              

