<div class="d-flex justify-content-center align-items-center">
    <div>
        <%= image_tag @user.image.thumb.url, class: "border border-dark user_icon" %>
    </div>
    <div class="ml-2"><%= @user.name %></div> 
    <div class="ml-2">が公開しているルーティン一覧</div>
</div>
<% @routines.each do |routine| %>
<% true_user = routine.user %>
        <div class="d-flex flex-column align-items-center mt-5 pt-4">
        <% if routine.image? %>
        <div class="mb-1" style="width: 250px;"><%= image_tag routine.image.url, class: "border border-dark" %><p class="mb-1 text-center text-wrap pt-2"><%= routine.title %></p></div>
        <% end %>
        
          <div class="d-flex justify-content-between align-items-center">
            <div>
               <%= image_tag true_user.image.thumb.url, class: "border border-dark user_icon" %>
            </div>
            <div class="d-flex flex-column align-items-start px-2">
                <div class="row ml-1">
                    <p class="mb-0"><%= routine.time %>分</p>
                    <p class="mb-0 ml-3"> <%= routine.created_at.strftime('%Y/%m/%d') %></p>
                </div>
                <p class="mb-0">作成者:<%= link_to true_user.name, user_path(true_user), class: 'ml-1' %></p>
            </div>
             <div class="p-2">
               <%= link_to "詳細", routine_path(routine) , class: 'btn btn-primary ml-2'%>
             </div>
          </div>
        </div>
        
    <% end %>

  
              

